.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# installed Fabric binaries etc.
/bin/
builders/
config/
external-chaincode/
install-fabric.sh

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
/config
.DS_Store
.project
# omit Go vendor directories
vendor/
.vscode
.gradle
.idea
# Dependency directories
node_modules/
# Ignore Gradle build output directory
build
package-lock.json
